venv
.env
__pycache__

docsbucket/nid/*
!docsbucket/nid/.gitkeep

docsbucket/birth_certificate/*
!docsbucket/birth_certificate/.gitkeep

docsbucket/death_certificate/*
!docsbucket/death_certificate/.gitkeep

req_files/nid/*
!req_files/nid/.gitkeep

req_files/birth_cert/*
!req_files/birth_cert/.gitkeep

req_files/death_cert/*
!req_files/death_cert/.gitkeep